<!-- <div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec2">
    <div id="sub1">
		<h5 id="name">Corona</h5>
        <div id="patientDetails">
            <h3 id="heading2">Documents</h3>
            <label for="bloodGroup" class="detailLevels">Blood Group : </label>
            <input type="text" class="detailFields" id="bloodGroup">
            <br>
            <label for="Address" class="detailLevels">Address : </label>
            <input type="text" class="detailFields" id="Address">
            <br>
            <label for="PhoneNo" class="detailLevels">Phone No. : </label>
            <input type="tel" class="detailFields" id="PhoneNo">
            <br>
            <label for="Email" class="detailLevels">Email : </label>
            <input type="email" class="detailFields" id="Email">
            <br>
        </div>
    </div>
</div> -->
<style>
    .dropdown-item {
        color: #9593a0 !important;
    }
</style>
<link rel="stylesheet" href="../css/disease.css">

<div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec9">
    <div class="disease-back-link"><a href="/user/profile"><i class="fa fa-arrow-left"
                aria-hidden="true"></i>Disease</a></div>
    <div id="sub4">
        <div class="container">
            <div class="add-documents">

                <h5 id="name1" style="color:#070707">Disease Name-: <%=disease.name%>
                </h5>
                <button id="myBtn" data-toggle="modal" data-target="#myModal" class="add-documents-button"
                    onclick=oepnModal()>Edit <img src="../img/profile-edit-icon.png">
                </button>
            </div>
            <div class="disease-flexbox">

                <h5 id="name1" style="color:#383737">Uploaded Documents</h5>

                <%for(var i of disease.document){%>
                    <div class="media" style="background: rgb(179, 232, 241)">
                        <img class="pdf-img align-self-center mr-3" src="../img/pdf-image.png"
                            alt="Generic placeholder image" style="width: 80px" />
                        <div style="display: inline-block" class="media-heading align-self-center">
                            <%=i.originalName%>
                        </div>
                        <div class="media-body">
                            <p>
                                <a href="/user/download/document/pdf?pdfdownload=<%=i.filename%>"
                                    style="color: black"><i class="fa fa-download fa-3x" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>

                    <%}%>
            </div>

            <div class="disease-flexbox sub4-2">
                <h5 id="name1">Medicine</h5>
                <%for(var i of disease.medicine){%>
                    <div class="media" style="background: rgb(179, 232, 241)">
                        <img class="pdf-img align-self-center mr-3" src="../img/pdf-image.png"
                            alt="Generic placeholder image" style="width: 80px" />
                        <div style="display: inline-block" class="media-heading align-self-center" id="mobTitle">
                            <%=i.originalName%>
                        </div>
                        <div class="media-body">
                            <p>
                                <a href="/user/download/medicine/pdf?pdfdownload=<%=i.filename%>"
                                    style="color: black"><i class="fa fa-download fa-3x" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <%}%>
            </div>

        </div>
    </div>
    <!-- <div id="sub4">
        <div class="container">
            <h5 id="name1">Medicine</h5>
            <div class="disease-flexbox">
                <%for(var i of disease.medicine){%>
                <div class="media" style="background: rgb(179, 232, 241)">
                    <img class="pdf-img align-self-center mr-3" src="../img/pdf-image.png" alt="Generic placeholder image" style="width: 80px" />
                    <div style="display: inline-block" class="media-heading align-self-center"><%=i.originalName%></div>
                    <div class="media-body">
                        <p>
                            <a href="/user/download/medicine/pdf?pdfdownload=<%=i.filename%>" style="color: black"><i class="fa fa-download fa-3x" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div> -->
</div>