<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/productsR.css" />
    <link rel="stylesheet" href="../css/navbarR.css" />
  </head>
  <body>
    <main>
      <%- include("navbar.ejs") -%>

      <!-- content -->
      <div class="content">
        <div class="midsize">Home / <span>Casual Shirts For Men</span></div>
        <div class="midsizeplus padding">
          Casual Shirts For Men <span> - <%= products.length %> Items</span>
        </div>

        <div class="products-catalogue">
          <div class="filter-left">
            <div class="midsizeplus" style="padding: 20px 20px">FILTERS</div>
            <div class="filters">
              <div class="filter-categories">
                <p>Brands</p>

                <input
                  type="checkbox"
                  id="adidas"
                  value="adidas"
                  onclick="filter('Roadster', 'tshirt')"
                />
                <label for="adidas">Roadster</label><br />
                <input
                  type="checkbox"
                  id="puma"
                  value="puma"
                  onclick="filter('Puma', 'tshirt')"
                />
                <label for="puma">Puma</label><br />
                <input
                  type="checkbox"
                  id="HRX"
                  value="HRX"
                  onclick="filter('HRX', 'tshirt')"
                />
                <label for="HRX">HRX</label><br />
                <input
                  type="checkbox"
                  id="wrogn"
                  value="wrogn"
                  onclick="filter('WROGN', 'tshirt')"
                />
                <label for="wrogn">Wrogn</label><br />
                <input
                  type="checkbox"
                  id="levis"
                  value="levis"
                  onclick="filter('Calvin Klein Jeans', 'tshirt')"
                />
                <label for="levis">Calvin Klein Jeans</label><br />
                <input
                  type="checkbox"
                  id="tommy"
                  value="tommy"
                  onclick="filter('Tommy Hilfiger', 'tshirt')"
                />
                <label for="tommy">Tommy Hilfiger</label><br />
              </div>

              <div class="filter-categories">
                <p>Price</p>
                <input
                  type="checkbox"
                  id="500"
                  value="500"
                  onclick="priceFilter(500, 0, 'tshirt')"
                />
                <label for="500">Below 500</label><br />

                <input
                  type="checkbox"
                  id="1000"
                  value="1000"
                  onclick="priceFilter(1000, 500, 'tshirt')"
                />
                <label for="1000">Rs.500 to Rs.1000</label><br />
                <input
                  type="checkbox"
                  id="1500"
                  value="1500"
                  onclick="priceFilter(1500, 1000, 'tshirt')"
                />
                <label for="1500">Rs.1000 to Rs.1500</label><br />
                <input
                  type="checkbox"
                  id="2000"
                  value="2000"
                  onclick="priceFilter(2000, 1500, 'tshirt')"
                />
                <label for="2000">Rs.1500 to Rs.2000</label><br />
                <input
                  type="checkbox"
                  id="2000+"
                  value="2000+"
                  onclick="priceFilter(10000, 2000, 'tshirt')"
                />
                <label for="2000+">Above Rs.2000</label><br />
              </div>

              <div class="filter-categories">
                <p>Color</p>
                <input
                  type="checkbox"
                  id="red"
                  value="red"
                  onclick="colorFilter('red', 'tshirt')"
                />
                <label for="red">
                  <span class="color"></span>
                  Red</label
                ><br />

                <input
                  type="checkbox"
                  id="blue"
                  value="blue"
                  onclick="colorFilter('blue', 'tshirt')"
                />
                <label for="blue"
                  ><span class="color" style="background-color: blue"></span>
                  Blue</label
                ><br />

                <input
                  type="checkbox"
                  id="green"
                  value="green"
                  onclick="colorFilter('green', 'tshirt')"
                />
                <label for="green"
                  ><span class="color" style="background-color: green"></span>
                  Green</label
                ><br />

                <input
                  type="checkbox"
                  id="yellow"
                  value="yellow"
                  onclick="colorFilter('yellow', 'tshirt')"
                />
                <label for="yellow"
                  ><span class="color" style="background-color: yellow"></span>
                  Yellow</label
                ><br />

                <input
                  type="checkbox"
                  id="black"
                  value="black"
                  onclick="colorFilter('black', 'tshirt')"
                />
                <label for="black"
                  ><span class="color" style="background-color: black"></span>
                  Black</label
                ><br />

                <input
                  type="checkbox"
                  id="white"
                  value="white"
                  onclick="colorFilter('white', 'tshirt')"
                />
                <label for="white"
                  ><span class="color" style="background-color: white"></span>
                  White</label
                ><br />
              </div>
            </div>
          </div>

          <div class="right">
            <div class="sort">
              <select name="type" id="type" onChange="sort('tshirt')">
                <option selected>Sort By</option>
                <option value="1">Price : High to Low</option>
                <option value="2">Price : Low to High</option>
                <option value="3">Best Discount</option>
                <option value="4">Popularity</option>
              </select>
            </div>
            <div id="products-right">
              <% products.map((el) => { %> <% let id = el._id %>
              <a class="each-product" onclick="changePage('<%= el._id %>')">
                <div>
                  <img src="<%= el.images[0] %>" alt="" />
                  <div class="brand"><%= el.brandName %></div>
                  <div class="name"><%= el.productName %></div>
                  <div class="price">
                    Rs. <%= Math.ceil(el.price * (100 - el.discount) / 100)%>
                    <span class="line-through"> Rs. <%= el.price %></span>
                    <span class="discount">(<%= el.discount %> % OFF)</span>
                  </div>
                </div>
              </a>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
<script src="../js/products.js"></script>
<script src="../js/allfiles.js"></script>
