<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/67912d8e88.js"></script>
    
	<link rel="stylesheet" href="../css/NavBar.css">
	<link rel="stylesheet" href="../css/modal.css">
	<link rel="stylesheet" href="../css/edit-form.css">
	
	<link rel="stylesheet" href="../css/hospitalProfile.css">

	<title>Profile Page</title>
	<link rel="shortcut icon" href="../img/medical1.png">
	<style>

	</style>
</head>

<body>
    
    <%- include('../partials/navbar'); %>
	<div id="myModal-dp-edit" class="modal-dp-edit">
		<!-- Modal content -->
		<div class="modal-content-dp-edit">
		  <span class="close-dp-edit">&times;</span>
		  <div class="col-md-6">
			<form class="form-group"  method="POST" action="/hospital/profile/picupload" enctype="multipart/form-data">
				<label>Upload Image</label>
				<div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							Browse… <input type="file" id="profilePic"name="profilePic">
						</span>
					</span>
					<input type="text" class="form-control" placeholder="Choose a file" readonly>
				</div>
				<img id='img-upload' style="max-width: 30%;"/>
				<button type="save" class="save-dp-edit">Save</button>
			</form>
		</div>
		</div>
	  </div>
	
	<link rel="stylesheet" href="/css/flash-message.css">
	<div id="flash-message">
		<% if (custom_flash) { %>
		<div class="alert alert-success alignment"><%= custom_flash %><span class="close">&times;</span></div>
		
		<% } else { %> <% } %>
	</div>
	
	<script src="/js/flash-message.js"></script>

    <div id="myModalEdit" class="modal fadeIn">
		<div class="modal-content-edit">
			<div class="row">
				<div class="content-top-edit ">
					<a href="#" class="img-rounded"><img src="../img/ProfilePic.png" id="profileImg1"></a>
					<span><button type="button" class="cancel-edit fadeOut" data-dismiss="modal">CANCEL</button></span>
					<h4>Profile details</h4>
				</div>
			</div>
			<form class="form-modal-edit" method="POST" >
				<!--Dont remove the enctype-->
				<div class="group1">
					<input type="text" name="adminName"><span class="highlight1"></span><span
						class="bar1"></span>
					<label for="name" style="margin-left: 8px; margin-top: -20px; padding-bottom: 200px;">Admin Name
						Name</label>
					<span><button class="save1-edit" formaction="profile/editDetails" >SAVE</button></span>
					<!-- Dont remove the name and value attribute-->
				</div>
				<div class="group1-edit">
					<input type="text" name="adminEmail" ><span class="highlight1"></span><span
						class="bar1"></span>
					<label for="name" style="margin-left: 8px; margin-top: -20px; padding-bottom: 200px;">Admin Email
						Email</label>
					
					<!-- Dont remove the name and value attribute-->
				</div>
				<div class="group1">
					<input type="text" name="adminAddress" ><span class="highlight1"></span><span
						class="bar1"></span>
					<label for="name" style="margin-left: 8px; margin-top: -20px; padding-bottom: 200px;">Admin
						Address</label>
				   
					<!-- Dont remove the name and value attribute-->
				</div>
				
			</form>
		</div>
	</div>

	<div id="myModal" class="modal fadeIn">
		<div class="modal-content">
			<div class="row">
				<div class="content-top ">
					<a href="#" class="img-rounded"><img src="../img/ProfilePic.png" id="profileImg1"></a>
					<span><button type="button" class="cancel fadeOut" data-dismiss="modal">CANCEL</button></span>
					<h4>ADD DISEASE</h4>
				</div>
			</div>
			<form class="form-modal" method="POST" enctype="multipart/form-data">
				<!--Dont remove the enctype-->
				<div class="group1">
					<input type="text" name="name" aria-required="true" required><span class="highlight1"></span><span
						class="bar1"></span>
					<label for="name" style="margin-left: 8px; margin-top: -20px; padding-bottom: 200px;">Disease
						Name</label>
					<span><button class="save1" formaction="profile/upload" value="upload">SAVE</button></span>
					<!-- Dont remove the name and value attribute-->
				</div>
				<div class="group2" style=" margin-bottom: -51px; margin-top: 15px;">
					<!--<input type="text"><span class="highlight1"></span><span class="bar1"></span>-->
					<p style="margin-top: -9px; font-size:18px; font-weight: normal; margin-left: 5px;	color:#a5a5a5;">
						Medicine</p>
					<div class="custom-file" style="border-radius: 4rem; margin-top: -26px;">
						<!--<input type="file" class="custom-file-input" id="customFile">
						<label class="custom-file-label" for="customFile">Choose file</label>-->
						<input id="input-b3" name="medicine" type="file" class="file" multiple data-show-upload="false"
							data-show-caption="true" data-msg-placeholder="Select {files} for upload...">
					</div>
				</div>
				<span class="UD">Upload Documents</span>
				<div class="zone">
					<span class="UD"
						style="z-index: 1000; overflow: hidden; display: flex; text-align: start; margin-left: 25px;">Upload
						Documents</span>
					<div id="dropZ">
						<i class="fa fa-cloud-upload"></i>
						<div>Select your file here</div>
						<div class="selectFile">
							<input type="file" name="document" id="file" multiple>
							<!--Dont remove the name attribute -->
						</div>
						<p>File size limit : 10 MB</p>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="desktop-view">
		<div class="container-fluid profile-body">
			<div class="row">
				<div class="col-sm-12"><%- include('../partials/message'); %></div>
				<div class="col-lg-2 col-sm-4 col-12 order-3 order-sm-1" id="pSec1">

					<div id="leftPanel">
							<div class="<%= path === '/hospital/profile' ? 'lists active-list' : 'lists' %>">
							<a href="/hospital/profile">Profile</a>
							<img src="../img/profile.png" class="Icons profile-icon">
						</div>
						<!-- <div class="lists">
							<a href="#" onclick="myFunction()" class="dropbtn">Disease</a>
							<img src="../img/disease.png" class="Icons">
							 <div id="myDropdown" class="dropdown-content">
								<a id="myBtn" onclick=openModal()>Add New</a>
							</div>
						</div> -->
						
						
						<div class="lists">
							<a href="#">Progress Report</a>
							<img src="../img/progress.png" class="Icons">
						</div>
						<div class="lists">
							<a href="#">Message</a>
							<img src="../img/message.png" class="Icons">
						</div>
						<div class="lists hospital-list">
							<div class= "Doctor-list">
								<div id="mySidenavTab" class="sidenav">
									<div id="Dr">
										<p class="sidenavHeader">Patients</p>
										<a href="javascript:void(0)" class="closebtn"
										onclick="closeNavtab()"><i class="fa fa-angle-left sideNav "
										aria-hidden="true"></i></a>
									</div>
	
									<form method="POST" action="/hospital/search" class="sidenav-form">
										<input type="text" placeholder="Enter patient unique ID to search" name="short_id"
										class="mobile-preview shadow floating-animate" id="id_search">
									<button id="id_search_button">Search</button>
									</form>
									
									<% if (foundUser) { %>
										<div>
											<div id="patientId2">
											<div id="patientImage2"></div>
											<div id="patientName1">
											<p><%= foundUser.name %></p>
											</div>
											</div>
											<% if (access.length == 0) { %>
												<a class="btn btn-danger" href="/hospital/relation/<%= foundUser.short_id %>"" role="button" id="search_button2">Request Patient</a>	
												<% if (foundUser.nominee) { %>
													<br>
													<br>
													<a class="btn btn-warning" href="/hospital/nominee/<%= foundUser.short_id %>"" role="button" id="search_button2">Request Nominee</a>
										
													<% } %>
											<% } else { %>
												<a class="btn btn-primary" href="/hospital/patient?id=<%= foundUser._id %>"" role="button" id="search_button2">View details</a>
												
												<% } %>
												<div id="separator"></div>
											
										</div>
									<% } %>
										
									<ul id="patientList">
										<% for(var d of patients) { %>
											<div id="patientId2">
												<div id="patientImage2">
													<img src="../img/ProfilePic.png">
												</div>
												<div id="patientName2">
												<a  href="/hospital/patient?id=<%=d.userId._id%>"><%= d.userId.name %></a>
												</div>
											</div>
											<!-- <a  href="/hospital/patient/<%=d.userId %>"><li><%= d.userId.name %></li></a> -->
										<% } %>
									</ul>
									
									
									
								</div>
								<!-- <div id="Drs"><button class=" sideNavButton" onclick=openNavtab() type="button ">Doctors<i class="fa fa-angle-right sideNav" aria-hidden="true" onclick=openNav()></i></button></div>				 -->
								<div id="Drs">
									<!-- <button class=" sideNavButton lists" onclick=openNavtab() type="button "><a>Patients</a><img src="../img/doctor-icon.png" class="Icons doctor-icon"  onclick=openNavtab()></button> -->
									<button class="<%= path === '/hospital/search' ? 'sideNavButton lists active-list' : 'sideNavButton lists' %>" onclick=openNavtab() type="button ">
										<!-- <button class="sideNavButton lists" onclick=openNavtab() type="button ">	 -->
										<a>Patients</a><img src="../img/doctor-icon.png"
											class="Icons Icons-invert" onclick=openNavtab()></button>
								</div>				
						

								<!-- <a href="#">Patients Tab</a>
								<img src="../img/doctor-icon.png" class="Icons-invert"> -->
							</div>
						</div>
						<!-- <div class=" Doctor-list">
							<div id="mySidenavTab" class="sidenav">
								<div id="Dr"><p class="sidenavHeader">Doctors<a href="javascript:void(0)" class="closebtn" onclick="closeNavtab()"><i class="fa fa-angle-left sideNav " aria-hidden="true"></i></a></p></div>
							</div>
							<div id="Drs"><button class=" sideNavButton" onclick=openNavtab() type="button ">Doctors<i class="fa fa-angle-right sideNav" aria-hidden="true" onclick=openNav()></i></button></div>				
							<div id="Drs"><button class=" sideNavButton lists" onclick=openNavtab() type="button "><a>Doctors</a><img src="../img/doctor-icon.png" class="Icons doctor-icon"  onclick=openNav()></button></div>				
						</div> -->
						<div class="lists">
							<a href="#">Settings</a>
							<img src="../img/Settings.png" class="Icons">
						</div> 
					</div>
				</div>
				<%if (path==='/hospital/profile'||path==='/hospital/search') { %>
					
				<div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec2">
					<div id="sub1">
						<div class="images">
							<img src="../img/CoverPhoto.png" id="coverImg">
							<% if (hospital.profilePic){%>
								<a href="#"><img src="../uploads/<%=hospital.email%>/hospital/profilePic/<%=hospital.profilePic%>"  id="profileImg"></a>
								<%}else{%>
									<a href="#"><img src="../img/ProfilePic.png"  id="profileImg"></a>
									<%}%>
							<img src="../img/camera.png" id="Camera">
						</div>
						<div class="name-id">
							<h5 id="name">
								<%if (hospital.hospitalName) { %>
								<%=hospital.hospitalName %>
								<% } %>
							</h5>
							<!-- <h4 id="heading1">Patient Id-<%if (hospital.short_id) { %>
								<%=hospital.short_id %>
								<% } %><span id="patientId"></span></h4> -->
						</div>	
						<div id="patientDetails">
							<div class="heading-and-edit-icon">
								<h3 id="heading2">Hospital Details</h3>
								<button id="myBtnEdit"  data-toggle="modal" data-target="#myModalEdit" onclick=modalEdit()>
									<img src="../img/profile-edit-icon.png">
								</button>
							</div>	
							<!-- <label for="bloodGroup" class="detailLevels">Blood Group : </label>
							<input type="text" class="detailFields" id="bloodGroup"> -->
							<!-- <br> -->
							<!-- <label for="Address" class="detailLevels">Address : </label>
							<input type="text" class="detailFields" id="Address"> -->
							<!-- <br> -->
							<label for="PhoneNo" class="detailLevels">Phone No. : <%if (hospital.phoneNumber) { %>
								<%=hospital.phoneNumber %>
								<% } %> </label>
							<input type="tel" class="detailFields" id="PhoneNo">
							<br>
							<label for="Email" class="detailLevels">Email:<%if (hospital.email) { %>
								<%=hospital.email %>
								<% } %> </label>
							<input type="email" class="detailFields" id="Email">
							<br>
						</div>
					</div>
				</div>
				<% } %>

				
				
				<div class="col-lg-2 col-sm-0 col-12 order-2 order-sm-3" id="pSec3">
					<div id="Dr"><a>Patients</a><img src="../img/doctor-icon.png" class="Icons doctor-icon"></div>
					<form method="POST" action="/hospital/search" id="search-form">
						<input type="text" placeholder="Search..." class="mobile-preview shadow floating-animate"
							name="short_id" id="id_search1">
						<button id="id_search_button1">Search</button>
					</form>
					<% if (foundUser) { %>
						<div class="searched-patient">
							<div id="patientId2">
							<div id="patientImage2">
								<img src="../img/ProfilePic.png">
							</div>
							<div id="patientName2">
							<p><%= foundUser.name %></p>
							</div>
							</div>
							<% if (access.length == 0) { %>
								<a class="btn btn-danger" href="/hospital/relation/<%= foundUser.short_id %>"" role="button" id="search_button2">Request Patient</a>	
								<% if (foundUser.nominee) { %>
									<br>
									<br>
									
									<a class="btn btn-warning" href="/hospital/nominee/<%= foundUser.short_id %>"" role="button" id="search_button2">Request Nominee</a>
								<% } %>
							<% } else { %>
								<a class="btn btn-primary" href="/hospital/patient?id=<%= foundUser._id %>"" role="button" id="search_button2">View details</a>
							<% } %>
							
						</div>
						<hr>
					<% } %>
	
						<ul id="patientList">
							<% for(var d of patients) { %>
							<div id="patientId2">
								<div id="patientImage2">
									<img src="../img/ProfilePic.png">
								</div>
								<div id="patientName2">
									<a  href="/hospital/patient?id=<%=d.userId._id%>"><%= d.userId.name %></a>
								</div>
							</div>
							<% } %>
						</ul>
						
				</div>
				 
		<%if (path === '/hospital/patient') { %>
			<%- include('../partials/HospitalProfilePatient'); %>
		<% } %>
		<%if (path === '/hospital/document') { %>
			<%- include('../partials/diseaseContent'); %>
		<% } %>

	
			</div>
		</div>
	</div>

	<div class="mobile-view"><div class="container-fluid profile-body">
		<%if (path === '/hospital/profile'||path==='/hospital/search') { %>
		<div class="row">
			<div class="col-sm-12"><%- include('../partials/message'); %></div>
			<div class="col-lg-2 col-sm-4 col-12 order-3 order-sm-1" id="pSec1">
				<div id="leftPanel">
					<div class="<%= path === '/hospital/profile' ? 'lists active-list' : 'lists' %>">
						<a href="/hospital/profile">Profile</a>
						<img src="../img/profile.png" class="Icons profile-icon">
					</div>
				
				
					
					<div class="lists">
						<a href="#">Progress Report</a>
						<img src="../img/progress.png" class="Icons">
					</div>
					<div class="lists">
						<a href="#">Message</a>
						<img src="../img/message.png" class="Icons">
					</div>
					
					<div class="lists">
						<a href="#">Settings</a>
						<img src="../img/Settings.png" class="Icons">
					</div> 
				</div>
			</div>
			<%if (path==='/hospital/profile'||path==='/hospital/search') { %>
			<div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec2">
				<div id="sub1">
					<div class="images">
						<img src="../img/CoverPhoto.png" id="coverImg">
						<% if (hospital.profilePic){%>
							<a href="#"><img src="../uploads/<%=hospital.email%>/hospital/profilePic/<%=hospital.profilePic%>"  id="profileImg"></a>
							<%}else{%>
								<a href="#"><img src="../img/ProfilePic.png"  id="profileImg"></a>
								<%}%>
						<img src="../img/camera.png" id="CameraMobile">
					</div>
					<div class="name-id">
						<h5 id="name"><%= hospital.hospitalName %></h5>
						<h4 id="heading1">Patient Id-<span id="patientId"></span></h4>
					</div>	
					<div id="patientDetails">
						<div class="heading-and-edit-icon">
							<h3 id="heading2">Hospital Details</h3>
							<button id="myBtnEdit"  data-toggle="modal" data-target="#myModalEdit" onclick=modalEdit()>
								<img src="../img/profile-edit-icon.png">
							</button>
						</div>	
						
						
						<label for="PhoneNo" class="detailLevels">Phone No. :<%= hospital.phoneNumber %></hospital.phoneNumber> </label>
						<input type="tel" class="detailFields" id="PhoneNo">
						<br>
						<label for="Email" class="detailLevels">Email : <%= hospital.email %> </label>
						<input type="email" class="detailFields" id="Email">
						<br>
					</div>
				</div>
			</div>
			<% } %>

			

           

			
			<div class="col-lg-2 col-sm-0 col-12 order-2 order-sm-3" id="pSec3">
				<div id="mySidenav" class="sidenav">
					<!-- <div id="Dr">
						<p class="sidenavHeader">Patients
						<a href="javascript:void(0)" class="closebtn" onclick=closeNav() ><i class="fa fa-angle-left sideNav " aria-hidden="true"></i></a></p>
					</div> -->
					<div id="Dr">
						<p class="sidenavHeader">Patients</p>
						<a href="javascript:void(0)" class="closebtn"
						onclick=closeNav()><i class="fa fa-angle-left sideNav " aria-hidden="true"></i></a>
					</div>
				
				<!-- <div id="Dr"><a>Patients Mobile</a><img src="../img/doctor-icon.png" class="Icons doctor-icon"></div> -->
				<form method="POST" action="/user/hospitalSearch" class="sidenav-form">
					<input type="text" placeholder="Search..." class="mobile-preview shadow floating-animate"
						name="hname" id="id_search">
					<button id="id_search_button">click</button>
				</form>
				<% if (foundUser) { %>
					<div>
						<div id="patientId2">
						<div id="patientImage2">
							<img src="../img/ProfilePic.png">
						</div>
						<div id="patientName2">
						<p><%= foundUser.name %></p>
						</div>
						</div>
						<% if (access.length == 0) { %>
							<a class="btn btn-danger" href="/hospital/relation/<%= foundUser.short_id %>"" role="button" id="search_button2">Request Patient</a>	
							<% if (foundUser.nominee) { %>
								<br>
								<br>
								
								<a class="btn btn-warning" href="/hospital/nominee/<%= foundUser.short_id %>"" role="button" id="search_button2">Request Nominee</a>
							<% } %>
					    <% } else { %>
							<a class="btn btn-primary" href="/hospital/patient?id=<%= foundUser._id %>"" role="button" id="search_button2">View details</a>
					    <% } %>
					</div>
					<hr>
				<% } %>
					<ul id="patientList">
						<% for(var d of patients) { %>
						<div id="patientId2">
							<div id="patientImage2">
								<img src="../img/ProfilePic.png">
							</div>
							<div id="patientName2">
								<a  href="/hospital/patient?id=<%=d.userId._id%>"><%= d.userId.name %></a>
							</div>
						</div>
						<% } %>
					</ul>
				</div>
				<div id="Dr-sec3">
					<button class="sideNavButton" onclick=openNav()>
					<a>Patients</a><img src="../img/doctor-icon.png" class="Icons doctor-icon"
						></button>
				</div>
		    <!-- <div id="Dr"><a>Patients</a><img src="../img/doctor-icon.png" class="Icons doctor-icon" onclick=openNav()  ></div> -->
			</div>
		</div>
		<%}%>
		<%if (path === '/hospital/document') { %>
			<%- include('../partials/diseaseContent'); %>
		<% } %>
       
		<%if (path === '/hospital/patient') { %>
			<%- include('../partials/HospitalProfilePatient'); %>
		<% } %>
		
		
	</div>
</div>
<%- include('../partials/footer'); %>

<script>
	function modalEdit(){
var modal = document.getElementById("myModalEdit");
var btn = document.getElementById("myBtnEdit");
var span = document.getElementsByClassName("cancel-edit")[0];
btn.onclick = function () {
	modal.style.display = "block";
}
span.onclick = function () {
	modal.style.display = "none";
}
window.onclick = function (event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
var span = document.getElementsByClassName("save1-edit")[0];
btn.onclick = function () {
	modal.style.display = "block";
}
span.onclick = function () {
	modal.style.display = "none";
}
window.onclick = function (event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
} 
</script>
<script>
	var modal = document.getElementById("myModal-dp-edit");
	var btn = document.getElementById("Camera");
	var span = document.getElementsByClassName("close-dp-edit")[0];
	btn.onclick = function() {
	  modal.style.display = "block";
	}
	span.onclick = function() {
	  modal.style.display = "none";
	}
	  var span = document.getElementsByClassName("save-dp-edit")[0];
	btn.onclick = function() {
	  modal.style.display = "block";
	}
	span.onclick = function() {
	  modal.style.display = "none";
	}
	window.onclick = function(event) {
	  if (event.target == modal) {
		modal.style.display = "none";
	  }
	} 
	</script>
	<script>
		var modal = document.getElementById("myModal-dp-edit");
		var btn = document.getElementById("CameraMobile");
		var span = document.getElementsByClassName("close-dp-edit")[0];
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		span.onclick = function() {
		  modal.style.display = "none";
		}
		  var span = document.getElementsByClassName("save-dp-edit")[0];
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		span.onclick = function() {
		  modal.style.display = "none";
		}
		window.onclick = function(event) {
		  if (event.target == modal) {
			modal.style.display = "none";
		  }
		} 
		</script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script src="../js/sideNav.js"></script>
	<script src="../js/profilePage.js"></script>
	
	<script src="../js/modal.js"></script>
</body>
</html>

